Repository aedanmc/travelo-hey, pull requests merged in 2022-05, with the labels that each got.

#61 Local db setup
  .gitignore
  front-end/data/businesses.json
  front-end/data/travelo-hey.db
  server/app.js
  server/app.yaml
  server/betaApp.js
  server/db_connection.js
  server/lib/bundle.js
  server/package-lock.json
  server/package.json
  server/routes/firstRoute.js
  server/server.js
Labels: back-end, database

#66 Updated paths in betaApp.js
  server/betaApp.js
Labels: back-end, server

#65 Updated documentation, added build and test instructions for beta release
  README.md
  documentation/documentationREADME.md
  documentation/instructions/BUGDOC.md
  documentation/instructions/DBDOC.md
  documentation/instructions/GCPDOC.md
Labels: documentation

#71 optimized package.json scripts, restructured cloudbuild.yaml to fix i…
  cloudbuild.yaml
  package.json
Labels: back-end, build

#72 Added Camila's weekly report
  reports/Week5.md
Labels: documentation

#74 Added prerequisites section to top level README
  README.md
Labels: documentation

#77 updated report end date to Wednesday, added my status report
  reports/Week5.md
Labels: reports

#91 Added '/' to proxy in package.json, replaced .env call for port 8080 in betaApp.js
  front-end/package.json
  server/betaApp.js
Labels: high priority, build

#96 Database testing
  data/travelo-hey.db
  server/db_connection.js
  server/test/db.acid.spec.js
  server/test/db.crud.spec.js
  server/test/db.schema.test.js
  server/test/db.test.js
Labels: database, Testing

#97 Updated database dev documentation with instructions for the local db
  documentation/instructions/DBDOC.md
Labels: documentation, database

#101 Developer guide
  README.md
  documentation/instructions/BETESTIGDOC.md
  documentation/instructions/FETESTIGDOC.md
Labels: documentation

#99 added information related to endpoints:...
  documentation/instructions/APIDOC.md
Labels: documentation

#106 Matt's Front-End Test
  front-end/__test__/single-review.test.js
Labels: front-end, testing, high priority

#103 Changes to the developer guide
  README.md
  documentation/instructions/BETESTDOC.md
  documentation/instructions/BETESTIGDOC.md
  server/test/acid.db.js
  server/test/schema.db.js
Labels: documentation, high priority

#107 Post Beta Search Page Cleanup/ Refactor
  front-end/__mocks__/axiosMock.js
  front-end/__test__/search-page.test.js
  front-end/__test__/single-result.test.js
  front-end/src/App.jsx
  front-end/src/components/search-page/SearchPage.js
  front-end/src/components/search-page/TestData.js
  front-end/test-utils.jsx
Labels: front-end

#108 Server tests
  data/travelo-hey.db
  package-lock.json
  package.json
  server/app.js
  server/betaApp.js
  server/db_connection.js
  server/routes/firstRoute.js
  server/server.js
  server/test/endpoint.server.js
  server/test/server.spec.js
Labels: back-end, testing, high priority

#111 Front-End Testing Documentation
  documentation/instructions/FETESTIGDOC.md
  documentation/instructions/FETESTINGDOC.md
Labels: documentation, front-end, testing, high priority

#112 Front-end test for <LocationDetails> component on a location page
  front-end/__test__/location-details.test.js
  front-end/src/components/locations-page/LocationDetails.js
Labels: front-end, testing

#115 added mike's portion of report for week 6
  reports/Week6.md
Labels: reports

#114 fixed ## User Guide FAQ and Walkthrough link - missing aedanmc in url
  README.md
Labels: documentation, back-end

#116 updated back-end testing document
  documentation/instructions/BETESTINGDOC.md
Labels: documentation

#119 Skeleton + tests for the "submitting a review" page
  data/travelo-hey.db
  front-end/__test__/review-submission-page.test.js
  front-end/package-lock.json
  front-end/package.json
  front-end/src/components/review-submission-page/ReviewInputRating.js
  front-end/src/components/review-submission-page/ReviewInputText.js
  front-end/src/components/review-submission-page/ReviewSubmissionPage.css
  front-end/src/components/review-submission-page/ReviewSubmissionPage.js
  package-lock.json
  package.json
Labels: enhancement, front-end, testing, high priority

#122 Aedan Week 6 report
  reports/Week6.md
Labels: reports

#124 Alex's week 6 report
  reports/Week6.md
Labels: reports

#128 updated team progress
  reports/Week6.md
Labels: reports

#139 added schema description to /country endpoint - see issue #135
  documentation/instructions/APIDOC.md
Labels: documentation, back-end

#145 updated API documentation with review/search/countries/states/cities endpoint
  documentation/instructions/APIDOC.md
Labels: documentation, back-end, high priority

#160 Add Aedan's weekly report
  reports/Week7.md
Labels: reports

#162 updated my portion of report, added items to team progress
  reports/Week7.md
Labels: reports

#169 Added explicit mentions of Developer Guide per peer review feedback
  README.md
Labels: documentation

#170 Search endpoint
  documentation/instructions/APIDOC.md
  server/betaApp.js
  server/test/endpoint.server.js
Labels: documentation, back-end

#161 Styled search page and nav bar
  front-end/src/components/general/NavBar.js
  front-end/src/components/general/SingleResult.js
  front-end/src/components/search-page/FilterSearch.js
  front-end/src/components/search-page/SearchPage.js
  front-end/src/img/travelo-hey_logo.png
Labels: front-end

#173 Update issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: bug, documentation

#177 Back-end refactoring
  package.json
  server/app.js
  server/betaApp.js
  server/db.connection.js
  server/helperFns/getCitiesFromDB.js
  server/helperFns/getCountriesNameFromDB.js
  server/helperFns/getCountryFromDB.js
  server/helperFns/getLatLongFromDB.js
  server/helperFns/getReviewsFromDB.js
  server/helperFns/getStatesFromDB.js
  server/helperFns/writeReviewsToDB.js
  server/routes/activities.js
  server/routes/business.js
  server/routes/cities.js
  server/routes/countries.js
  server/routes/country.js
  server/routes/reviews.js
  server/routes/reviews.new.js
  server/routes/search.js
  server/routes/states.js
  server/test/acid.db.js
  server/test/endpoint.server.js
  server/test/schema.db.js
Labels: back-end

#179 Added Week8 report doc
  reports/Week8.md
Labels: documentation

#176 Added PR template
  .github/pull-request-template.md
  .github/pull_request_template.md
Labels: documentation

#186 Updated DB schema in DBDOC.md
  documentation/instructions/DBDOC.md
  documentation/instructions/Travelo-Hey!-Diagram.png
  documentation/instructions/businesses.jpg
  documentation/instructions/countries.jpg
  documentation/instructions/reviews.jpg
  documentation/instructions/users.jpg
Labels: documentation, database

#187 Updated report with Agenda item, team report and my report
  reports/Week8.md
Labels: documentation
